<div class="card my-2">
    <div class="card-header">
        {{title}}
    </div>
    <ul class="list-group list-group-flush">
        <li *ngFor="let movie of movies" class="list-group-item" routerLink='/detail/{{movie.id}}' routerLinkActive="router-link-active">
            <span class="badge badge-primary">
                {{movie.id}}
            </span> {{movie.name}}
            <span (click)="delete(movie)" class="close">x</span>
        </li>
    </ul>
</div>

<div class="card my-2">
    <div class="card-header">
        Add movie
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="name"></label>
            <input #name type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="imageUrl"></label>
            <input #imageUrl type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="description"></label>
            <textarea #description type="text" class="form-control"></textarea>
        </div>
        <button (click)="add(name.value, imageUrl.value, description.value); name.value = ''; imageUrl.value=''; description.value='';" class="btn btn-primary btn-sm">Save</button>
    </div>
</div>